@import '_reset.scss';

.cards{
    input{
        display: inline-block;
        border: red 2px solid;
        width: 1rem;
        height: 1rem;
        
    }
    
    text-align: justify;
    &__header > *{
        margin: 10px;
    }

    &__table{
        &__header{
            background-color: aqua;
            display: flex;
            flex-direction: row;

            height: 3.5rem;
        }

        &__count{
            background-color: rgb(156, 220, 143);
            display: flex;
            height: 1.5rem;
        }

        &__entry{
            display: flex;
            flex-direction: row;
            height: 1.5rem;
            flex-wrap: wrap;
            background-color: pink;
            flex: 1 1 auto;

            &__attendee{
                display: flex;
                flex-direction: row;
                background-color: rgb(133, 183, 133);
                width : 100%;
            }

            &__new{
                display: flex;
                flex-direction: row;
                background-color: rgb(154, 154, 214);
                width : 100%;

            }
        }
    }
}

// SAME CONFIG FOR ALL THE CHILDREN OF EACH DIV


.cards__table__header > * , .cards__table__count > * , .cards__table__entry > * , .cards__table__entry__attendee > *, .cards__table__entry__new > * {
    flex: 1 1 auto;
    outline: rgb(163, 163, 163) solid 1px;
}

.cards__table__header__empty, .cards__table__count__title, .cards__table__entry__name, .cards__table__entry__name__input{
    max-width: 8rem;
    width: 8rem;
}
