$background: rgb(207, 207, 207);
$form_back: rgb(252, 252, 252);
$form_submit: rgb(72, 127, 255);
$form_font: rgb(26, 26, 26);
$form_lightFont: rgb(108, 108, 108);


@mixin tabletScreen () {
    @media only screen and (min-width: 600px) {
        @content;
    }
}

@mixin smallScreen(){
    @media only screen and (max-width: 420px) {
        @content;
    }
}

@mixin desktop(){
    @media only screen and (min-width: 1200px) {
        @content;
    }
}